PyAutoGUI>=0.9.54
pyperclip>=1.9.0
Pillow>=11.0.0

edge-tts
pygame

requests>=2.32.0

faster-whisper
sounddevice
numpy
scipy

pywhatkit
wikipedia

playsound==1.2.2

opencv-contrib-python

SpeechRecognition
pyaudio

groq
geocoder

google-genai
