PyAutoGUI>=0.9.54
pyperclip>=1.9.0
Pillow>=10.0.0
edge-tts>=0.1.0
pygame>=2.0.0
requests==2.0.0
faster-whisper
sounddevice
numpy
scipy
pyautogui
pywhatkit
wikipedia
playsound==1.2.2
opencv-contrib-python==5.0.0.93
numpy
SpeechRecognition
pyaudio
groq
geocoder
google-genai

